<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.uforge.plugins.StarIOAdapter" version="1.0.1" versionCode="4">
    <name>StarIOAdapter</name>
    <description>
        Just a phonegap adapter to allow raw printing from Javascript to a Star thermal printer via Bluetooth
    </description>
    <license>MIT</license>
    <keywords>cordova,star,raw,print,bluetooth</keywords>

    <engines>
        <engine name="cordova" version=">=2.8.0" /></engines>

        <asset src="www/StarIOAdapter.js" target="StarIOAdapter.js" />

        <!-- android -->
        <platform name="android">

            <config-file target="res/xml/config.xml" parent="/*">

                <feature name="StarIOAdapter">
                    <param name="android-package" value="com.uforge.plugins.StarIOAdapter" />
                </feature>
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-permission android:name="android.permission.BLUETOOTH" />
            </config-file>

            <source-file src="src/android/StarIOAdapter.java" target-dir="src/com/uforge/plugins/" />
            <source-file src="src/android/PrinterFunctions.java" target-dir="src/com/uforge/plugins/" />

        </platform>

        <!-- ios -->

        <!-- wp7 -->

        <!-- wp8 -->
</plugin>
